.register {
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
  }
  .register-title {
    font-size: 50px;
  }
  .register-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .register-form > label {
    margin: 10px 0;
  }
  .register-input {
    padding: 10px;
    border: none;
    background-color: #fff;
  }
  .register-btn {
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
  }
  .register-reg-btn {
    margin-top: 20px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    color: #615a5a;
    border-radius: 10px;
    width: 230px;
    padding: 10px;
  }
  